﻿@using Social_Media.Models
@model Social_Media.ViewModel.ProfileModel
@{
    ViewBag.Title = "EditProfile";
}
@RenderPage("~/Views/Shared/_header.cshtml")
<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                <div class="col-lg-3">
                    <div class="acc-leftbar">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="true"><i class="fa fa-lock"></i>Change Password</a>
                            <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-acc" aria-selected="false"><i class="la la-cogs"></i>EditInfo</a>
                            <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false"><i class="fa fa-group"></i>Requests</a>
                            <a class="nav-item nav-link" id="nav-deactivate-tab" data-toggle="tab" href="#nav-deactivate" role="tab" aria-controls="nav-deactivate" aria-selected="false"><i class="fa fa-random"></i>Deactivate Account</a>
                        </div>
                    </div><!--acc-leftbar end-->
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane active" id="nav-password">
                            <div class="acc-setting">
                                <h3>Account Setting</h3>
                                @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
                                {
                                    <form>
                                        <div class="cp-field">
                                            <h5>Current Password</h5>
                                            <div class="cpp-fiel">
                                                @Html.EditorFor(m => m.CurrentPassword, new { htmlAttributes = new { placeholder = "Current Password" } })
                                                <i class="fa fa-lock"></i>
                                                <div>
                                                    <td>
                                                        @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })
                                                    </td>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>New Password</h5>
                                            <div class="cpp-fiel">
                                                @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { placeholder = "New Password" } })
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Confirm Password</h5>
                                            <div class="cpp-fiel">
                                                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password" } })
                                                <i class="fa fa-lock"></i>
                                                <div>
                                                    <td>
                                                        @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })
                                                    </td>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="save-stngs pd2">
                                            <ul>
                                                <li><button type="submit">Save Setting</button></li>
                                            </ul>
                                        </div><!--save-stngs end-->
                                    </form>
                                }
                            </div><!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-info">
                            <div class="acc-setting">
                                <h3>Account Info</h3>
                                @using (Html.BeginForm("EditInfo", "Profile", FormMethod.Post))
                                {
                                    <form>
                                        <div class="cp-field">
                                            <h5>Biograhpy</h5>
                                            <div class="cpp-fiel">
                                                <input type="text" name="Bio" placeholder="Bio">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Education</h5>
                                            <div class="cpp-fiel">
                                                <input type="text" name="Education" placeholder="Education">
                                                <i class="fa fa-graduation-cap"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Location</h5>
                                            <div class="cpp-fiel">
                                                <input type="text" name="Location" placeholder="Location">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Birthdate</h5>
                                            <div class="cpp-fiel">
                                                <input type="date" name="Birthdate" placeholder="Birthdate">
                                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="save-stngs pd2">
                                            <ul>
                                                <li><button type="submit">Save Setting</button></li>
                                            </ul>
                                        </div><!--save-stngs end-->
                                    </form>
                                }
                            </div><!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-requests">
                            <div class="acc-setting">
                                <h3>Requests</h3>
                                <div class="requests-list">
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Poonam</h3>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Bill Gates</h3>
                                            <span>C & C++ Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div><!--accept-feat end-->
                                    </div><!--request-detailse end-->
                                </div><!--requests-list end-->
                            </div><!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-deactivate">
                            <div class="acc-setting">
                                <h3>Deactivate Account</h3>
                                @using (Html.BeginForm("DeactivateAccount", "Profile", FormMethod.Post))
                                {
                                    <form>
                                        <div class="cp-field">
                                            <h5>Email</h5>
                                            <div class="cpp-fiel">
                                                <input type="text" name="Email" placeholder="Email">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Password</h5>
                                            <div class="cpp-fiel">
                                                <input type="password" name="Password" placeholder="Password">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        </div>
                                        <div class="save-stngs pd3">
                                            <ul>
                                                <li><button type="submit">Save Setting</button></li>
                                            </ul>
                                        </div><!--save-stngs end-->
                                    </form>
                                }
                            </div><!--acc-setting end-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--account-tabs-setting end-->
    </div>
</section>

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/popper.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="~/Content/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="~/Scripts/script.js"></script>