﻿@using Social_Media.Models
@model Social_Media.ViewModel.ProfileModel
@{
    ViewBag.Title = "Home Page";
}
@RenderPage("~/Views/Shared/_header.cshtml")

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.LoggedUser.Pic == null)
                                            {
                                                <img src="http://via.placeholder.com/170x170" alt="">
                                            }
                                            else
                                            {
                                                <img src="~/UploadedFiles/@Html.DisplayFor(model=>model.LoggedUser.Pic)" alt="" style="width:120px;height:120px">
                                            }
                                        </div>
                                    </div><!--username-dt end-->
                                    <div class="user-specs">
                                        <h3>@Model.LoggedUser.Username</h3>
                                    </div>
                                </div><!--user-profile end-->
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Following</h4>
                                        <span>34</span>
                                    </li>
                                    <li>
                                        <h4>Followers</h4>
                                        <span>155</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ProfileTemp","Profile")" title="">View Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CreateGroup","Group")" title="">Create Group</a>
                                    </li>
                                    <li>
                                        <h4>Your Groups</h4>
                                        @{
                                            MyDbcontext db = new MyDbcontext();
                                            var username = Session["Username"];
                                            User tmp = new User();
                                            tmp = db.Users.Where(x => x.Username == username.ToString()).Single();
                                            var userid = tmp.UserID;
                                            //var groups = db.Group.Where(x => x.Users.Contains(tmp)).ToList();
                                            var groups = db.Group.Where(x => x.Users.Any(m => m.UserID == tmp.UserID)).ToList();


                                            foreach (var group in groups)
                                            {
                                                <a href="@Url.Action("Group","Group",new { id = group.GroupID })">@group.GroupName</a><br /><br />
                                            }
                                        }
                                    </li>
                                </ul>
                            </div><!--user-data end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-topbar">
                                <div class="post-st">
                                    <ul>
                                        <li><a href="#" title="" onclick="NewPost()"> Create Post </a> </li>

                                    </ul>
                                </div><!--post-st end-->
                            </div><!--post-topbar end-->
                            <div class="posts-section">
                                <div class="modal fade" id="ShowModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                <h4>New Post</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="post">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                            <input class="form-control" type="text" name="Body" id="body" placeholder="What's in your mind ... ?" />
                                                        </div>
                                                    </div>



                                                </form>
                                                <div class="form-group">
                                                    <button class="btn btn-info form-control" type="submit" onclick="SaveForm()"><i class="glyphicon glyphicon-registration-mark"></i> Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-bar">
                                    @{
                                        Html.RenderPartial("~/Views/Shared/Index.cshtml", Model.Posts);
                                        Html.RenderPartial("~/Views/Shared/Index.cshtml", Model.FriendPosts);
                                    }

                                </div><!--post-bar end-->
                                <div class="process-comm">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div><!--process-comm end-->
                            </div><!--posts-section end-->
                        </div><!--main-ws-sec end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>

<div class="post-popup pst-pj">
    <div class="post-project">
        <h3>Post a project</h3>
        <div class="post-project-fields">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <div class="col-lg-12">
                        <div class="inp-field">
                            <select>
                                <option>Category</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="skills" placeholder="Skills">
                    </div>
                    <div class="col-lg-12">
                        <div class="price-sec">
                            <div class="price-br">
                                <input type="text" name="price1" placeholder="Price">
                                <i class="la la-dollar"></i>
                            </div>
                            <span>To</span>
                            <div class="price-br">
                                <input type="text" name="price1" placeholder="Price">
                                <i class="la la-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <textarea name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->

<div class="post-popup job_post">
    <div class="post-project">
        <h3>Post a job</h3>
        <div class="post-project-fields">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <div class="col-lg-12">
                        <div class="inp-field">
                            <select>
                                <option>Category</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="skills" placeholder="Skills">
                    </div>
                    <div class="col-lg-6">
                        <div class="price-br">
                            <input type="text" name="price1" placeholder="Price">
                            <i class="la la-dollar"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="inp-field">
                            <select>
                                <option>Full Time</option>
                                <option>Half time</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <textarea name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->




<script>
    function NewPost() {
        $("#ShowModal").modal();

    }
</script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scrollbar.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>